
#titulo{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-align: center;
    margin-right: 300px;
    color: #2d3436;
}
#tbl_criterio{
    margin-left: 0px;
}
#frm_criterio{
    padding-top: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
}
#frm_criterio div{
    margin-bottom: 15px;
}
#frm_criterio label{
  font-family: 'Roboto Slab', serif;
    display: inline-block;
    width: 110px;
}

#frm_criterio input{
    display: inline-block;
    width: 250px;
    height: 30px;
    outline: none;
}
#frm_criterio button{
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    background:  #B82601 ;
    color: #E9F0E9;
    width: 170px;
    height: 55px;
    font-size: 20px;
    margin-left: 180px;
    border-radius: 5px;
}
#frm_criterio button:hover{
    background-color: #16a085;   
}
#btn_listar_criterio button{
    background: #16a085;
    border: 2px solid #BDBDBD;
    color: #E9F0E9;
    float: left;
    width: 20%;
    height: auto;
    margin-left: 0%;
    margin-top: -124px;
    padding: 10px;
}
#btn_listar_criterio button:hover{
    background-color: #B82601 ;   
}