#presentacion{
  background-image: url("https://si.wsj.net/public/resources/images/B3-BC591_rossji_GR_20180713114845.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 600px;
  color: white;
}

#mainLP{
  padding: 0px;
}

#presentacion p{
  text-align: center;
}

#separacion{
  margin: 150px;
  width: 100%;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

#separacion h5{
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}

#separacion h4{
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
}

#tres{
  background-image: url("https://images.unsplash.com/photo-1523580846011-d3a5bc25702b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

#primera{
  background-image: url("https://www.lavanguardia.com/r/GODO/LV/p4/WebSite/2017/08/31/Recortada/img_lbernaus_20170831-133949_imagenes_lv_terceros_istock-151993228-ks3F-U43938495662Jt-992x558@LaVanguardia-Web.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 600px;
  color: white;
}

#tres .buttons{
  height: 400px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

#tres button{
  margin-top: 200px;
  width: 20%;
  margin-left: 20%;
  border-radius: 5px;
}

main p{
  font-size: 38px;
  width: 60%;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 20%;
  padding-right: 20%;
  font-family: 'Roboto Slab', serif;
  text-align: justify;
  line-height: 50px;
}

main h1{
  font-size: 40px;
  width: 100%;
  margin: none;
  height: 200px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

#segunda{
    background-image: url("https://aberriberri.files.wordpress.com/2018/10/school-education.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 600px;
    color: white;

}

h2{
  font-size: 40px;
  color: BLACK;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding-top: 50px;
}
