

h1{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}
#txt_grado{
  border: 1px solid black;
}
form{
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 50px;
    padding-top:100px;
    float:right;
}

   form input{
     margin-bottom:20px;
}
   label{
     font-size: 25px;
}

   input{
     padding-bottom: 0px;
     display: inline-block;
     width: 250px;
     height: 30px;
     outline: none;
}
   #banner_institucion{
     width: 100%;
     height: auto;
}
#btn_registrar{
  background-color: #B82601 ;;
  border: 2px solid #BDBDBD;
  color: #E9F0E9;
  float: left;
  width: 20%;
  height: auto;
  margin-left: 40%;
  margin-top: -5%;
  padding: 10px;
}    
#btn_registrar:hover{
  background-color: #16a085;
}

#tbl_grado{
  width: 80%;
  height: 200px;
  margin-left: 30%;
  }
  #tbl_grado tbody{
    font-family: 'Roboto Slab', serif;
    border-style: solid;
    border-width: 1px;
    border-color: #2F7585;
  }
  #tbl_grado tbody a {
    text-decoration: none;
    color: white;
  }
  #tbl_grado tbody a:hover{
    color: #c0392b;
    transition: all 300ms;
  }
  #tbl_grado{
    margin: 10% auto;
    border-collapse: collapse;
    display:block;
    overflow-y: scroll;
    overflow-x: hidden;

  }
  thead{
   color:white;
  }
  th, td, tr{
    width:400px;
    border: 1px solid white;
    vertical-align: middle;
    text-align: center
  }
  #menu_institucion .nav {
    padding: 25px;
    float:right;
    background-color:#16a085;
    color:#fff;
    border-radius: 50%;
  }

  #menu_institucion{
    margin-right: 4%;
    position: sticky;
  top: 15px;
  }

  .nav li a {
    background-color:#327190;
    color:#fff;
    text-decoration:none;
    padding:12px;
    display:block;
  }

  .nav li a:hover {
    background-color:#16a085;

  }

  main #menu_institucion li ul li a:hover {
    color:#fff;
  }

  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }

  .nav:hover  ul {
    display:block;

  }

  .nav:hover{
    background-color:#327190;
  }

  .nav li ul li {
    position:relative;
  }

  .nav li ul li ul {
    right:-140px;
    top:0px;
  }

  #menu_institucion .nav ul li a{
    font-family: 'Roboto Slab', serif;
  }