input{
  margin-top: 2px;
  width: 300px;
  height: 30px;
  padding-left: 5px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
form{
  float: right;
  padding-top: 25px;
  padding-right: 10%;
  margin-bottom: 10px;
  margin-right: 5px;
}
h1{
  font-size: 40px;
  color: BLACK;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding-top: 100px;
}

.imagenTabla{
  height: 200px;
  width: 200px;
}
#btn_listar{
  background-color: #B82601 ;;
  border: 2px solid #BDBDBD;
  color: #E9F0E9;
  float: left;
  width: 20%;
  height: auto;
  margin-left: 40%;
  margin-top: -5%;
  padding: 10px;
}
#btn_listar:hover{
  background-color: #16a085;
}
#tbl_contacto tbody{
  font-family: 'Roboto Slab', serif;
  border-style: solid;
  border-width: 5px;
  border-color: #2F7585;
}
#tbl_contacto tbody a {
  text-decoration: none;
  color: white;
}
#tbl_contacto tbody a:hover{
  color: #c0392b;
  transition: all 300ms;
}
#tbl_contacto{
  margin: 10% auto;
  width: 80%;
  border-collapse: collapse;
  display:block;
  overflow-y: scroll;

}
thead{
 color:white;
}
th, td, tr{
  width:400px;
  border: 1px solid white;
  vertical-align: middle;
  text-align: center
}
