
input{
  margin-top: 2px;
  border: 1px solid #062F4F;
  width: 300px;
  height: 30px;
  padding-left: 5px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

form{
  float: right;
  margin-bottom: 10px;
  margin-right: 5px;
}
.frm{
  margin-top: -50px;
}

h1{
  font-size: 40px;
  color: BLACK;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding-top: 100px;
}

button{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    background-color: #B82601;
    border: none;
    height: 30px;
    color: white;
}
#btn_listar{
  background-color: #FFF;
  border: 2px solid #BDBDBD;
  color: #16a085;
  float: right;
  width: 40%;
  height: auto;
  margin-right: 187%;
  margin-top: -34px;
  padding: 10px;
  }

#btn_registrar_sadicional{
    background-color: #B82601 ;;
    border: 2px solid #BDBDBD;
    color: #E9F0E9;
    float: left;
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-top: -5%;
    padding: 10px;
}
#btn_registrar_sadicional:hover{
    background-color: #16a085;
}
.imagenTabla{
  height: 200px;
  width: 200px;
}
#tbl_sadicional tbody{
  font-family: 'Roboto Slab', serif;
  border-style: solid;
  border-width: 5px;
  border-color: #2F7585;
}
#tbl_sadicional tbody a {
  text-decoration: none;
  color: white;
}
#tbl_sadicional tbody a:hover{
  color: #c0392b;
  transition: all 300ms;
}
#tbl_sadicional{
  margin: 10% auto;
  width: 80%;
  border-collapse: collapse;
  display:block;
  overflow-y: scroll;

}
thead{
 color:white;
}
th, td, tr{
  width:400px;
  border: 1px solid white;
  vertical-align: middle;
  text-align: center
}

.buscar_sadicional{
  margin-right: -90px;
}
