
#backbtn:hover{
  color: #c0392b;
}
#tbl_pcomercial{
width: 70%;
height: 200px;;
margin-left: 30%;
}
#tbl_pcomercial tbody{
  font-family: 'Roboto Slab', serif;
  border-style: solid;
  border-width: 1px;
  border-color: #2F7585;
}
#tbl_pcomercial tbody a {
  text-decoration: none;
  color: white;
}
#tbl_pcomercial tbody a:hover{
  color: #c0392b;
  transition: all 300ms;
}
#tbl_pcomercial{
  margin: 10% auto;
  border-collapse: collapse;
  display:block;
  overflow-y: scroll;

}
thead{
 color:white;
}
th, td, tr{
  width:400px;
  border: 1px solid white;
  vertical-align: middle;
  text-align: center
}