h1{
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
}

form{
  float: right;
  margin-right: 100px;
}

table{
  margin-top: 100px;
  width: 80%;
  float: left;
  margin-left: 10%;
  font-size: 30px;
}

thead{
  background-color: #062F4F;
  border: 1px solid white;
  color: white;
}

tbody{
  text-align: center;
  font-size: 20px;
  background-color: #2F7585;
  border: 1px solid white;
  color: white;
}

th{
  padding-top: 10px;
  padding-bottom: 10px;
}

td{
  padding-top: 10px;
  padding-bottom: 10px;
}
