#backbtn{
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  color:white;
  text-decoration: none;
  margin-left: 5%;
  margin-top: 1%;
}
#backbtn:hover{
  color: #c0392b;
}

input{
  margin-top: 2px;
  border: 1px solid #062F4F;
  width: 300px;
  height: 30px;
  padding-left: 5px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

form{
  float: right;
  padding-top: 25px;
  padding-right: 10%;
  margin-bottom: 10px;
  margin-right: 5px;
}

h1{
  font-size: 40px;
  color: BLACK;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding-top: 100px;
}

#btn_registrar_noticia{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    background-color: #B82601;
    height: 50%;
    width: 20%;
    margin-left: 40%;
    color: #E9F0E9;
}
#btn_registrar_noticia:hover{
  background-color: #16a085;
}

.imagentablaNoticias{
  height: 200px;
  width: 200px;
}

#btn_pref_utiles{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  background-color: #B82601;
  height: 60%;
  width: 30%;
  margin-top: -20px;
  margin-left: 35%;
  color: #E9F0E9;
}
#btn_pref_utiles:hover{
  background-color: #16a085; 
}
#btn_reporte{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  background-color: #B82601;
  height: 60%;
  width: 30%;
  margin-top: -20px;
  margin-left: 35%;
  color: #E9F0E9;
}
#btn_reporte:hover{
  background-color: #16a085;
}