#btn_listar{
  background-color: #FFF;
  border: 2px solid #BDBDBD;
  color: #16a085;
  float: left;
  width: 20%;
  height: auto;
  margin-left: 0%;
  padding: 10px;
}

#tbl_usuarios{
  margin: 10% auto;
  width: 80%;
  border-collapse: collapse;
  display:block;
  overflow-y: scroll;
  border: 1px solid green;
}
thead{
    background: green;
    color:white;
border: 1px solid green;
}
th, td, tr{
    width:400px;
    border: 1px solid white;
    vertical-align: middle;
    text-align: center
}
