body #img_padre{
  width: 20%;
  height: auto;
  margin-left: 40%;
  margin-bottom: 60px;
}

body .btn_modificar_perfil button{
  width: 20%;
  height: auto;
  padding: 20px;
  margin-left: 40%;
  background-color: red;
  color: white;
}

h2{
  margin-left: 30%;
  color: #16a085;
  margin-top: 50px;
}

.nombre h4{
  display:inline;
  margin-right: 10px;
  font-size: 25px;
  font-family: font-family: 'Roboto Slab', serif;
}

.nombre{
  width: 36%;
  margin-left: 40%;
}

h3{
  font-size: 25px;
  font-family: font-family: 'Roboto Slab', serif;
  width: 20%;
  margin-left: 40%;
  text-align: center;
}

#btn_modificar{
  margin-top: 70px;
}
