#menu_institucion{
    background: #B33771;
    text-align: center;
  }

  #menu_institucion nav{
    padding-top: 10px;
    height: 40px;
  }

  #menu_institucion a{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
  }

  .registrar_comentario{
    width: 80%;
    margin-left: 10%;
    margin: 100px;
  }

  .registrar_comentario textarea{
    width: 60%;
    height: 200px;
    margin-left: 20%;
    margin-right: 20%;
    resize: none;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
  }

  .registrar_comentario button{
    margin-left: 45%;
    margin-top: 50px;
    border: 1px solid green;
  }

  .comentarios{
    width: 80%;
    height: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 10%;
  }

  #menu_institucion a:hover{
    color: #B82601;
  }

  #banner_institucion{
    width: 100%;
    height: auto;

  }
  #titulo{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-decoration: none;
    padding-left: 70px;
    padding-right: 20px;
    color: #2d3436;
  }

  #submenu #titulo{
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
  }


h2{
  font-family: 'Roboto Slab', serif;
}

#add{
  margin-left: 49.5%;
  color: black;
}

p{
  font-family: 'Roboto Slab', serif;
}

h3{
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  text-align: center;
  width: 20%;
  margin-left: 40%;
  margin-top: 70px;
  margin-bottom: 40px;
}

.opciones{
  width: auto;
  height: 5px;
  margin: none;
}

#tbl_redes_sociales{
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-top: 10px;
}

#tbl_redes_sociales thead{
    background-color: WHITE;
}

#tbl_redes_sociales img{
  width: 50px;
  height: auto;
}

#tbl_redes_sociales tbody{
  background-color: white;
}

#btn_reporte{
  width: 20%;
  margin-left: 40%;
  margin-bottom: 50px;
}

#slt_utiles{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 50px;
  background-color: #FFF;
  border: 2px solid #BDBDBD;
  height: 50px;
}

.frm{
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.frm label{
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  width: 80%;
  margin-left: 23%;
  margin-bottom: 50px;
}

.frm button{
  width: 20%;
  margin-left: 40%;
}
#tbl_contacto{
  width: 80%;
  height: auto;
  margin-left: 10%;
}

#tbl_contacto img{
  width: 200px;
  height: auto;
}
#btn_registrarContacto{
  background-color: #B82601 ;;
  border: 2px solid #BDBDBD;
  color: #E9F0E9;
  float: left;
  width: 20%;
  height: auto;
  margin-left: 40%;
  margin-top: -5%;
  padding: 10px;
}
#btn_registrarContacto:hover{
  background-color: #16a085;
}

#seccion_comentarios{
  width: 60%;
  margin-left: 20%;
  height: auto;
}

#seccion_comentarios div{
  width: 100%;
  height: auto;
  margin: 10px;
}

#seccion_comentarios div img{
  width: 50px;
  height: auto;
  margin-left: 50px;
  margin-top: 25px;
}
#seccion_comentarios div h4{
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  margin: 10px;
}

#seccion_comentarios div p {
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
  width: 70%;
  float: right;
}
