.titulo{
    padding: 25px 400px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 25px;
    
}

#frm_registro{
    padding: 25px 300px;
    font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 18px;
}

#imagen_preview{
    padding: 25px 50px;
    width: 250px;
    height: 250px;
    padding-top: 20px;
  }

  .datos{
    width: 500px;
    padding-top: 20px;
    
  }
  #btnSeleccionarimagen{
    margin-top: 15px;
    margin-left: 65px;
}

#btn_registrar{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  background-color: #B82601;
  margin-top: 10px;
  width: 50%;
  height: 55px;
  color: #E9F0E9;
  margin-left: 15%;
}

#btn_registrar:hover{
  background-color: #16a085;
  }
  #btnSeleccionarimagen{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    background-color: #B82601;
    margin-top: 10px;
    width: 50%;
    height: 55px;
    color: #E9F0E9;
    margin-left: 15%;
  }
  #btn_listar{
    background-color: #16a085;
    border: 2px solid #BDBDBD;
    color: #E9F0E9;
    float: left;
    width: 20%;
    height: auto;
    margin-left: 0%;
    margin-top: -124px;
    padding: 10px;
    }
    #btn_listar:hover{
      background-color: #B82601 ;
    }
    #btn_actualizar{
      font-family: 'Roboto Slab', serif;
      font-size: 20px;
      background-color: #B82601;
      margin-top: 10px;
      width: 50%;
      height: 55px;
      color: #E9F0E9;
      margin-left: 15%;
  }
   
  #btn_actualizar:hover{
    background-color: #16a085;
    }
  #btnSeleccionarimagen{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    background-color: #B82601;
    margin-top: 10px;
    width: 50%;
    height: 55px;
    color: #E9F0E9;
    margin-left: 15%;
    }

    #btnSeleccionarimagen:hover{
      background-color: #16a085;
    }