h1{
  font-size: 40px;
  color: BLACK;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding-top: 100px;
}

form{
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-top: 100px;
  
}

.registro_util_mep{
  width: 100%;
  padding-top: 60px;
}

label{
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  padding-left: 100px;
}

input{
  float: right;
  margin-right: 20%;
  margin-top: 2px;
  border: none;
  width: 300px;
  height: 30px;
  padding-left: 5px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  border: 1px solid black;
}

Select{
  float: right;
  margin-right: 20%;
  margin-top: 2px;
  border: none;
  width: 300px;
  height: 30px;
  padding-left: 5px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  background-color: white;
  border: 1px solid black;
}

.registro_util_mep_diferente{
  padding-top: 220px;
}

textarea{
  float: right;
  margin-right: 20%;
  margin-top: 2px;
  border: none;
  width: 300px;
  height: 200px;
  padding-left: 5px;
  font-size: 20px;
  resize: none;
  font-family: 'Roboto Slab', serif;
  text-align: justify;
  border: 1px solid black;
}

button{
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  background-color: #B82601;
  border: none;
  margin-top: 100px;
  width: 35%;
  height: 75px;
  margin-left: 37.5%;
  color: #E9F0E9;
  margin-bottom: 100px;
}

#btn_listar{
background-color: #16a085;
border: 2px solid #BDBDBD;
color: #E9F0E9;
float: left;
width: 20%;
height: auto;
margin-left: 0%;
margin-top: -124px;
padding: 10px;
}
#btn_listar:hover{
  background-color: #B82601 ;
}

button:hover{
  background-color: #16a085;
}

ul, ol {
  list-style:none;
}

.nav {
  padding: 25px;
  float:right;
  background-color:#16a085;
  color:#fff;
  border-radius: 50%;
}

#menu_institucion{
  margin-right: 4%;
  position: sticky;
  top: 15px;
}

.nav li a {
  background-color:#327190;
  color:#fff;
  text-decoration:none;
  padding:12px;
  display:block;
}

.nav li a:hover {
  background-color:#16a085;

}

main #menu_institucion li ul li a:hover {
  color:#fff;
}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav:hover  ul {
  display:block;

}

.nav:hover{
  background-color:#327190;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-140px;
  top:0px;
}

#menu_institucion .nav ul li a{
  font-family: 'Roboto Slab', serif;
}
#logo{
  width: 35px;
}