#frm_registrar{
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 30%;

}
#frm_registrar div{
    margin-bottom: 10px;
}
#frm_registrar label{
    display: inline-block;
    width: 110px;
    font-family: 'Roboto Slab', serif;
}
#frm_registrar input{
    display: inline-block;
    width: 250px;
    height: 30px;
    outline: none;
}
#frm_registrar textarea{
  width: 250px;
  height: 100px;
  resize:none;
}
#btn_img{
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  background-color: #B82601;
  margin-top: 10px;
  width: 15%;
  height: 45px;
  color: #E9F0E9;
  margin-left: 20%;
}
#btn_img:hover{
  background-color: #16a085;
}
#btn_guardar{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  background-color: #B82601;
  margin-top: 10px;
  width: 25%;
  height: 55px;
  color: #E9F0E9;
  margin-left: 15%;
}
#btn_guardar:hover{
background-color: #16a085;
}
#previewimg{
  height: 25%;
  width: 25%;
  margin-left: 13%;
}
#btn_listar{
  background-color: #16a085;
  border: 2px solid #BDBDBD;
  color: #E9F0E9;
  float: left;
  width: 20%;
  height: auto;
  margin-left: 0%;
  margin-top: -124px;
  padding: 10px;
  }
  #btn_listar:hover{
    background-color: #B82601 ;
  }
#logo{
  width: 40px;
}
ul, ol {
  list-style:none;
}

.nav {
  padding: 25px;
  float:right;
  background-color:#16a085;
  color:#fff;
  border-radius: 50%;
}

#menu_institucion{
  margin-right: 4%;
  position: sticky;
top: 15px;
}

.nav li a {
  background-color:#327190;
  color:#fff;
  text-decoration:none;
  padding:12px;
  display:block;
}

.nav li a:hover {
  background-color:#16a085;

}

main #menu_institucion li ul li a:hover {
  color:#fff;
}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav:hover  ul {
  display:block;

}

.nav:hover{
  background-color:#327190;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-140px;
  top:0px;
}

#menu_institucion .nav ul li a{
  font-family: 'Roboto Slab', serif;
}

