#titulo{
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  text-decoration: none;
  padding-left: 10%;
  padding-right: 40%;
  color: #2d3436;
  text-align: center;
}
#frm_precio{
  font-family: 'Roboto Slab', serif;
    padding-top: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    
}
#frm_precio div{
    margin-bottom: 15px;
}
#frm_precio label{
    padding-top: 30px;
    display: inline-block;
    width: 110px;
    font-family: 'Roboto Slab', serif;
}
.input_registrar{
  margin-bottom: 15px;
  display: inline-block;
  width: 250px;
  height: 30px;
  outline: none;
}

#frm_precio input{
    display: inline-block;
    width: 250px;
    height: 30px;
    outline: none;
    font-family: 'Roboto Slab', serif;
}
.btn_registra{
    display: inline-block;
    width: 250px;
    height: 30px;
    outline: none;
    font-size: 15px;
}

#frm_precio textarea{
    width: 250px;
    height: 100px;
    resize: none;
}
#frm_precio button{
    display: inline-block;
    background:  #B82601 ;
    padding: 10px;
    width: 170px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    margin-left: 190px;
    border-radius: 5px;
}
#frm_precio button:hover{

    background:  white;
}
#frm_precio input[type=radio]{
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  width: 12px;
  height: 13px;
}

#frm_precio fieldset{
  margin-bottom: 15px;
  padding-top: 15px;
  font-family: 'Roboto Slab', serif;
}
#banner_institucion{
  width: 100%;
  height: auto;
}

