.titulo{
    padding: 25px 400px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 25px;
    
}

#frm_registro{
    padding: 25px 300px;
    font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 18px;
}

#imagen_preview{
    padding: 25px 50px;
    width: 250px;
    height: 250px;
    padding-top: 20px;
  }

  .datos{
    width: 500px;
    padding-top: 20px;
    
  }
  #btnSeleccionarimagen{
    margin-top: 15px;
    margin-left: 65px;
}

#btn_registrar{
    margin-top: 15px;
    margin-left: 65px;
}