
#titulo{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-decoration: none;
    padding-left: 20%;
    padding-right: 20%;
    color: #2d3436;
    text-align: center;
   }
   
   button{
    background:  #B82601 ;
    width: 20%;
    height: 55px;
    color: #E9F0E9;
    font-size: 20px;
    margin-left: 35%;
    border-radius: 5px;
    margin-top: 30px;
   }
   button:hover{
       background-color: #16a085;
       }
   #txt_info{
       display: inline-block;
       margin-left: 10px;
       border-radius: 5px;
       width: 300px;
       height: 60px;
       margin-top: 10px;
   }
   #txt_nivel{
     display: inline-block;
     margin-left: 10px;
     border-radius: 5px;
     width: 230px;
     height: 30px;
     margin-top: 10px;
   }
   #info label{
       display: inline-block;
       margin-left: 2px;
       font-family: 'Roboto Slab', serif;
       margin-bottom: 5px;
   }
   
   #frm_requisito div{
       margin-bottom: 15px;
   
   }
   #frm_requisito label{
       font-family: 'Roboto Slab', serif;
       display: inline-block;
       margin-bottom: 20px;
       margin-left: 25%;
   }
   #btn_listar{
       background-color: #16a085;
       border: 2px solid #BDBDBD;
       color: #E9F0E9;
       float: left;
       margin-left: 5px;
       margin-top: -40px;
       margin-bottom: 10px;
   }
   #btn_listar:hover{
       background-color: #B82601 ;
     }
   #banner_institucion{
       width: 100%;
       height: auto;
   }
   #frm_requisito input::placeholder {
       font-size: 12px;
       padding: 5px;
   }
#logo{
    width: 40px;
}
#menu_institucion .nav {
    padding: 25px;
    float:right;
    background-color:#16a085;
    color:#fff;
    border-radius: 50%;
  }
  #menu_institucion{
    margin-right: 4%;
    position: sticky;
  top: 15px;
  }
  
  .nav li a {
    background-color:#327190;
    color:#fff;
    text-decoration:none;
    padding:12px;
    display:block;
  }
  
  .nav li a:hover {
    background-color:#16a085;
  
  }
  
  main #menu_institucion li ul li a:hover {
    color:#fff;
  }
  
  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }
  
  .nav:hover  ul {
    display:block;
  
  }
  
  .nav:hover{
    background-color:#327190;
  }
  
  .nav li ul li {
    position:relative;
  }
  
  .nav li ul li ul {
    right:-140px;
    top:0px;
  }
  
  #menu_institucion .nav ul li a{
    font-family: 'Roboto Slab', serif;
  }