
#titulo{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-decoration: none;
    padding-left: 20%;
    padding-right: 20%;
    color: #2d3436;
    text-align: center;
   }

   form input{
       float: right;
       margin-right: 30%;
   }

   form select{
    float: right;
    margin-right: 30%;
}

button{
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    background-color: #B82601;
    margin-top: 6%;
    width: 25%;
    height: 55px;
    color: #E9F0E9;
    margin-left: 38%;
}
button:hover{
    background-color: #16a085;
}
   #txt_info{
       display: inline-block;
       margin-left: 10px;
       border-radius: 5px;
       width: 300px;
       height: 60px;
       margin-top: 10px;
   }
   #txt_grado{
     display: inline-block;
     margin-left: 10px;
     border-radius: 5px;
     width: 310px;
     height: 40px;
     margin-top: 10px;
   }
.registro_mensualidad{
    margin-top: 5%;
}
   .registro_mensualidad label{
    display: inline-block;   
    padding-top: 15px;
   }
   #info label{
       display: inline-block;
       margin-left: 2px;
       font-family: 'Roboto Slab', serif;
       margin-bottom: 5px;
   }
   
#frm_mensualidad div{
       margin-bottom: 15px;
   
}
#frm_mensualidad label{
       font-family: 'Roboto Slab', serif;
       display: inline-block;
       margin-bottom: 20px;
       margin-left: 25%;
}
#banner_institucion{
       width: 100%;
       height: auto;
}
#frm_mensualidad input::placeholder {
       font-size: 12px;
       padding: 5px;
}
#btn_listar{
    background-color: #16a085;
    border: 2px solid #BDBDBD;
    color: #E9F0E9;
    float: left;
    width: 20%;
    height: auto;
    margin-left: 0%;
    margin-top: -124px;
    padding: 10px;
}
#btn_listar:hover{
      background-color: #B82601 ;
}
#menu_institucion .nav {
    padding: 25px;
    float:right;
    background-color:#16a085;
    color:#fff;
    border-radius: 50%;
}

#menu_institucion{
    margin-right: 4%;
    position: sticky;
top: 15px;
}

.nav li a {
    background-color:#327190;
    color:#fff;
    text-decoration:none;
    padding:12px;
    display:block;
}

.nav li a:hover {
    background-color:#16a085;

}

main #menu_institucion li ul li a:hover {
    color:#fff;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav:hover  ul {
    display:block;

}

.nav:hover{
    background-color:#327190;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

#menu_institucion .nav ul li a{
    font-family: 'Roboto Slab', serif;
}
