h1{
  font-size: 40px;
  color: BLACK;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding-top: 100px;
}

#frm_rs{
  width: 50%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 24%;

  padding-bottom: 50px;
}
.frm input{
  border: solid 1px black;
}

form p {
  text-align: center;
  color: #062F4F;
  padding-top: 20px;
  font-size: 30px;
  line-height: 50px;
  font-family: 'Roboto Slab', serif;
}

label{
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  padding-left: 100px;
  
}

input{
  float: right;
  margin-right: 20%;
  margin-top: 2px;
  border: none;
  width: 300px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

div{
  padding-top: 40px;
  padding-bottom: 40px;
}

form img{
  width: 50px;
  height: auto;
  float: left;
  margin-left: 40px;
}

textarea{
  float: right;
  margin-right: 20%;
  margin-top: 2px;
  border: none;
  width: 300px;
  height: 200px;
  padding-left: 5px;
  font-size: 20px;
  resize: none;
  font-family: 'Roboto Slab', serif;
  text-align: justify;
}
#logo{
  width: 40px;
}

button{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  background-color: #B82601;
  border: none;
  margin-top: 40px;
  width: 20%;
  height: 70px;
  margin-left: 40.5%;
  color: white;
}

button:hover{
  background-color: #16a085;
}
