
.frm_usuario{
    padding-top: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;    
}
input{
    display: inline-block;
    width: 250px;
    height: 30px;
    outline: none;
}
.frm_usuario div{
    margin-bottom: 15px;
}
.frm_usuario label{
    font-family: 'Roboto Slab', serif;
    display: inline-block;
    width: 110px;
}
#txt_provincia{
    margin-top: 10px;
}
#txt_canton{
    margin-top: 10px;
}
#txt_distrito{
    margin-top: 10px;
}
#txt_distrito{
    margin-bottom: 10px;
}
button{
    display: inline-block;
    background:  #B82601 ;
    padding: 10px;
    width: 170px;
    margin: 0 auto;
    font-size: 20px;
    margin-left: 170px;
    border-radius: 5px;
}
