h1{
  font-family: 'Roboto Slab';
  font-size: 40px;
  color: #2d3436;
}
form{
  width: 80%;
  height: auto;
  padding: 50px;
  margin-left: 10%;
}

.registro label{
  font-family: serif;
  font-size: 30px;
  margin-left: 5%;
  text-align: center;
}

form button{
 margin-left: 30%;
  width: 30%;
  height: 50px;
  margin-top: 7%;
  background:  #B82601 ;
  color: #E9F0E9;
  font-size: 18px;
  font-family: 'Roboto Slab', 
}
form button:hover{
  background-color: #16a085; 
}
