
#div_contenedor {
    margin: 100px 150px;
    padding: 50px 100px;
    border: 1px solid #c9c9c9;
}
#div_contenedor {
text-align: center; 
}
#txt_codigo {
    border: 1px solid #c9c9c9;
}
#div_texto{

    margin: 20px;
    font-size: 35px;
    font-family: serif;
    color: #2d3436;
    
}
#btn_verifica{
    width: 30%;
    height: 50px;
    margin-top: 30px;
    background:  #B82601 ;
    color: #E9F0E9;
    font-size: 18px;
    font-family: 'Roboto Slab', 
}
#btn_verifica:hover {
  background-color: #16a085;  
}